* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
/* header and Footer Items */
.header {
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: white;
  grid-area: headerC;
}

.footer {
  padding: 10px;
  text-align: center;
  font-size: 1.4em;
  color: black;
  grid-area: footerC;
}
/* header and Footer Items */

/* main container with 2fr by default  uses css grid */
.main-container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'headerC headerC'
    'gridC action'
    'footerC footerC';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

/* main container */

/* action container which has two button  using flex internally and its one of the grid item*/
.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 3px;
  grid-area: action;
}

.button {
  background-color: #72c2dc;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 2px 3px #3896b4;
  text-align: center;
  font-size: 12px;
}

/* action container */

/* grid container - actual table format layout buts its flex  */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #efefef;
  grid-area: gridC;
  height: 80vh;
}

.grid-items {
  padding: 10px;
  border: 2px solid orange;
}

.flex-items {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  flex: 33%;
  border: none;
}

/* grid container */

@media only screen and (max-width: 375px) {
  .main-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
      'headerC'
      'action'
      'gridC'
      'footerC';
    grid-template-columns: 1fr;
  }

  .grid-container {
    height: 80vh;
  }
  .grid-items {
    padding: 10px;
    border: 2px solid orange;
  }
  .flex-items {
    background: none !important;
    font-size: 20px !important;
    flex: 100%;
    color: black !important;
    align-items: center;
    justify-content: flex-end;
    padding: 4px;
    border-right: 5px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  .action-container {
    display: flex;
    flex-direction: row;
  }
}
